@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #044b7f;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 40px;
}

.section {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 7%;
  border: 4px solid white;
  border-radius: 10px;
  padding: 4%;
  background-color: #2b5a7b;
  box-shadow: 3px 3px 15px black;
}

.links {
  visibility: hidden;
}

.projectContainer:hover .links {
  visibility: visible;
}

.projectContainer:hover img {
  filter: brightness(0.4);
  transition: filter 0.5s ease-in-out;
}

.links {
  transition: visibility 0.2s ease-in;
}

.projectLink:hover {
  text-shadow: 3px 3px 10px white;
}
